<div class="home-title-header">
	<div class="jumbotron">
		<div class="container">
			<h1>&micro;FAQs</h1>
			<p>Your guide to the cities' best kept secrets.</p>
		</div>
	</div>
	
	<div class="container">
		<div class="col-md-9">
		<div class="col-xs-12" style="background-color:#344d59; height:200px; width:100%; box-shadow: 10px 10px 5px rgba(0,0,0,0.2);border-radius:6px; margin: 0 0 20px 0;">
			<h1 style="color:white; margin:15px 15px 0 15px ">Q. Your First Question?</h1>

		</div>
		<div class="col-xs-4" style="background-color:#344d59; height:200px; width: 100%; box-shadow: 10px 10px 5px rgba(0,0,0,0.2);border-radius:6px;margin: 0 0 20px 0;">
		</div>

		<div class="col-md-3">

		</div>	
	</div>
	
</div>