<div class="title-header" >
	<div class="jumbotron">
		<div class="container">
			<h1>&micro;FAQs</h1>
			<p>Your guide to the cities' best kept secrets.</p>
		</div>
	</div>
</div>

<div class="container main-container">
	<div class="col-md-8">

  <div class="col-xs-12" style="background-color:#ecf0f1; width:100%; box-shadow: 10px 10px 5px rgba(0,0,0,0.2);border-radius:6px; margin: 0 0 20px 0; padding: 2px 15px;">

   <div style="text-align:center;" class="pull-left">
    <a href="#" style="color:white;display:block; margin:2px 5px;"><span class="glyphicon glyphicon-chevron-up" style="color:#27AE60;"></span></a>
    <span class="label label-success" style="font-size:16px">3</span>
    <a href="#" style="color:white;display:block; margin:2px 5px;"><span class="glyphicon glyphicon-chevron-down" style="color:red"></span></a> 
   </div>
   <div class="pull-left">
   <h3 style="color:#4f4f4f; margin:20px 0px 0 15px; ">Q. Your First Question?</h3>
   </div>


   <div class="clearfix"></div>

   <div style="text-align:center;padding:0 0;" class="pull-left">
    <a href="#" style="color:white;display:block; margin:2px 5px;"><span class="glyphicon glyphicon-chevron-up" style="color:#27AE60;"></span></a>
    <span class="label label-success" style="font-size:16px">3</span>
    <a href="#" style="color:white;display:block; margin:2px 5px;"><span class="glyphicon glyphicon-chevron-down" style="color:red"></span></a>  
   </div>
   <div class="pull-left">
   <h3 style="color:#4f4f4f; margin:25px 0px 0 15px; ">A. Answer your first question</h3>
   </div>

   <div class="clearfix"></div>

   <div style="padding-bottom:5px;">
    <span class="label label-default" style="font-size:13px">#food</span>
    <span class="label label-default" style="font-size:13px">#drinks</span>
    <span class="label label-default" style="font-size:13px">#cake</span>
   </div>

  </div>
  
 </div>
	
	<div class="col-md-4">
		<div class="clearfix"></div>
		<div class="tag-cloud">
			<span class="cloud-2">DubaiMall</span>
			<span class="cloud-7">EmiratesMall</span>
			<span class="cloud-6">BurjKhalifa</span>
			<span class="cloud-4">BurjAlArab</span>
			<span class="cloud-1">DubaiMarina</span>
			<span class="cloud-5">DesertSafari</span>
			<span class="cloud-3">ArabianNights</span>
			<span class="cloud-7">GoldsGym</span>
			<span class="cloud-6">Starbucks</span>
			<span class="cloud-4">CaribouCoffee</span>

		</div>
	</div>	
</div>