<div class="home-title-header">
	<div class="jumbotron">
		<div class="container">
			<h1>&micro;FAQs</h1>
			<p>Your guide to the cities' best kept secrets.</p>
		</div>
	</div>
	
	<div class="container">
		<div class="col-xs-4" style="background-color:#000; height:50px;">
		
		</div>
	</div>
</div>